Make a simple prompt generation interface on the front end where you have all the configurations and all the options on the left side and on the right side you have the prompt which is finally generated which can be used as part of the agent. I am attaching an image as well for reference that could be a starting point for the initial prototype and then will be in storm on improving the UX in the front end better. Use simple design, use simple components, use the ChatCN and Tailwind and build it in a very interactive manner. And let's make the first version and then we will iterate on it to add more features of this prompt generator app.

Make sure to keep all the code related to this prompt generator app inside the folder called prompt_generator. Don't put anything else outside the folder and this folder is part of our next JS app so it has already all the things necessary. So take a look at what is already there and don't add any extra code, only add the new code in the prompt generator folder. That's it.